.page-container {
  position: relative;
  width: 500px;
  margin: 170px auto;
}

.logo {
  display: block;
  position: relative;
  width: 233px;
  margin: 0 auto;
}

.ano { color: red; }

.search-form {
  position: relative;
  display: block; 
  margin-top: 2.333em;
  
  .hint {
    margin-left: 1.6em;
    font-size: 85%;
    color: #999;
    display: block;
    margin-top: 4px
  }
  
  input[type="text"] {
    width: 360px;
    border: 1px #ccc solid;
    padding: 5px;
    margin-left: 1.6em;
  }
  
  input[type="submit"] {
    padding: 3px 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.content {
  position: relative;
  margin-top: 1.5em;
  line-height: 1.5;
}

.counter {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 30px 0 0;
  
  .counter-result {
    font-size: .9em;
    font-style: italic;
  }
}