- title "Магазин Кредитов: Черный список клиентов"

.search-form
	- form_tag "/", :method => "get" do
		%p
			= text_field_tag :query, params[:query]
			= submit_tag "Поиск", :name => nil
			
.content
	= answer if params[:query].present?